/* put the search bar into screen center */
.search-bar {
    margin: 0 auto;
    width: 50%;
}

/* put the search bar remind message under search bar */
.search-bar-remind {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.search-bar-button {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
}